.complete{
  text-decoration: line-through;
  font-style: oblique;
  opacity: 50%;
}

* {
box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

body {
  background-color: #242716;
  background-image: url("fat-safari.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 540px;
  min-height: 75vh;
  background: #46201655;
  backdrop-filter: blur(55px);
  text-align: center;
  margin: 128px auto;
  border-radius: 30px;
  padding-bottom: 32px;
}

h1 {
  margin: 16px 0;
  color: rgb(250, 224, 220);
  font-size: 24px;
}

.todo-input {
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #462016;
  outline: none;
  width: 70%;
  background: #46201655;
  color: rgb(250, 224, 220);
}

.todo-input::placeholder {
  color: rgb(238, 207, 201);
}

.todo-button {
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  border: 2px solid #462016;
  outline: none;
  width: 20%;
  background: #462016;
  color: rgb(250, 224, 220);
  
  color: #fff;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(250, 224, 220);
  background-color: #46201650;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-form {
  margin-bottom: 32px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #462016;
}

.edit-icon {
  color: #462016;
}